# Godot 4+ specific ignores
.godot/
/android/
*.uid
.claude/
.vscode/
addons/**/*
handoffs/*
test/TestResults/
fun-project-test/TestResults/
gdunit4_testadapter_v5/**/*
fun-project-test/gdunit4_testadapter_v5/
fun-project-test/bin
fun-project-test/obj
**/textures
docs/superpowers/**
docs/research/
DemoBattle*
*.lscache
graphify-out/
.openxcom-research/
Godot-MCP/
